* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('https://images6.alphacoders.com/846/846818.jpg');
  background-size: cover;
background-repeat: no-repeat;
}
h1{
  font-size: 2.5em;
  margin-bottom: 40px;
}